@using Solution.FrontEnd.Models.ManageViewModels
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
    string redirectToController = User.IsInRole(RoleNames.ROLE_OFERENTE) ? "Oferentes" : "Empresas" ;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-0">
        <li class="breadcrumb-item">
            <a asp-controller="@redirectToController" 
                asp-action="Index" class="no-outline-color" >
                <i class="fas fa-angle-left"></i>
                Cancelar y volver
            </a>
        </li>
    </ol>
</nav>
<br />
<h3>@ViewData["Title"].</h3>

<form asp-controller="Manage" asp-action="ChangePassword" 
    method="post"  role="form">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row align-items-center">
        <div class="col-md-3">
            <label asp-for="OldPassword" class="form-label mg-b-0"></label>    
        </div>
        <div class="col-md-7">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row align-items-center">
        <div class="col-md-3">
            <label asp-for="NewPassword" class="form-label mg-b-0"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row align-items-center">
        <div class="col-md-3">
            <label asp-for="ConfirmPassword" class="form-label mg-b-0"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
