@{
    Documentos resume = ViewBag.Resume;
}
<div class="filepond--root filepond filepond--hopper" id="filepond" 
    data-style-button-remove-item-position="left" data-style-button-process-item-position="right" 
    data-style-load-indicator-position="right" data-style-progress-indicator-position="right" 
    data-style-button-remove-item-align="false" 
    style="height: 78px;">
    <input class="filepond--browser" type="file" id="filepond--browser-vwwvghbut" 
        aria-controls="filepond--assistant-vwwvghbut" 
        aria-labelledby="filepond--drop-label-vwwvghbut">
        <a class="filepond--credits" aria-hidden="true" 
            href="https://pqina.nl/" target="_blank" 
            rel="noopener noreferrer" 
            style="transform: translateY(70px);">Powered by PQINA
        </a>
        <div class="filepond--drop-label" style="transform: translate3d(0px, 40px, 0px); opacity: 0; visibility: hidden; pointer-events: none;">
            <label for="filepond--browser-vwwvghbut" id="filepond--drop-label-vwwvghbut" 
                aria-hidden="true">Drag &amp; Drop your files or 
                <span class="filepond--label-action" tabindex="0">Browse</span>
            </label>
        </div>
        <div class="filepond--list-scroller" style="transform: translate3d(0px, -4px, 0px);">
            <ul class="filepond--list" role="list">
                <li class="filepond--item" id="filepond--item-xc9snyw2u" 
                data-filepond-item-state="busy processing" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1; height: 46px;">
                    <fieldset class="filepond--file-wrapper">
                        <div class="filepond--file">
                            <button class="filepond--file-action-button filepond--action-retry-item-load" 
                                onclick="RemoveResume('@resume.Guid')"
                                type="button" data-align="right" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);">
                                <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M11.586 13l-2.293 2.293a1 1 0 0 0 1.414 1.414L13 14.414l2.293 2.293a1 1 0 0 0 1.414-1.414L14.414 13l2.293-2.293a1 1 0 0 0-1.414-1.414L13 11.586l-2.293-2.293a1 1 0 0 0-1.414 1.414L11.586 13z" fill="currentColor" fill-rule="nonzero"></path></svg>
                                <span>Eliminar</span>
                            </button>
                            <a asp-controller="ListaOferentes" asp-action="Resume" asp-route-id="@Model.IdOferente" target="_blank" 
                                class="filepond--file-action-button filepond--action-process-item tx-white" type="button" data-align="right" 
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); right: 2.5625em;"> 
                                <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M14 10.414v3.585a1 1 0 0 1-2 0v-3.585l-1.293 1.293a1 1 0 0 1-1.414-1.415l3-3a1 1 0 0 1 1.414 0l3 3a1 1 0 0 1-1.414 1.415L14 10.414zM9 18a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2H9z" fill="currentColor" fill-rule="evenodd"></path></svg>
                                <span>Ver</span>
                            </a>
                            <div class="filepond--processing-complete-indicator" data-align="right" 
                                style="transform: scale3d(0.75, 0.75, 1); opacity: 0; visibility: hidden; pointer-events: none;">
                                <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M18.293 9.293a1 1 0 0 1 1.414 1.414l-7.002 7a1 1 0 0 1-1.414 0l-3.998-4a1 1 0 1 1 1.414-1.414L12 15.586l6.294-6.293z" fill="currentColor" fill-rule="nonzero"></path></svg>
                            </div>
                            <div class="filepond--file-info" style="transform: translate3d(0px, 0px, 0px);">
                                <span class="filepond--file-info-main" aria-hidden="true">
                                    Has subido este curriculo
                                </span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="filepond--panel filepond--item-panel" data-scalable="true">
                        <div class="filepond--panel-top filepond--item-panel"></div><div class="filepond--panel-center filepond--item-panel" 
                            style="transform: translate3d(0px, 8px, 0px) scale3d(1, 0.3, 1);">
                        </div>
                        <div class="filepond--panel-bottom filepond--item-panel" 
                            style="transform: translate3d(0px, 38px, 0px);">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    <div class="filepond--panel filepond--panel-root" data-scalable="true">
        <div class="filepond--panel-top filepond--panel-root"></div>
        <div class="filepond--panel-center filepond--panel-root" style="transform: translate3d(0px, 8px, 0px) scale3d(1, 0.62, 1);"></div>
        <div class="filepond--panel-bottom filepond--panel-root" style="transform: translate3d(0px, 70px, 0px);"></div>
    </div>
    <span class="filepond--assistant" id="filepond--assistant-vwwvghbut" role="status" aria-live="polite" aria-relevant="additions"></span>
    <div class="filepond--drip"></div>
    <fieldset class="filepond--data">
        
    </fieldset>
</div>