@model Oferentes
@{
    ViewData["Title"] = "Perfil";
    string FullName = Model.Nombre + " " + Model.Apellido1 
        + " " + Model.Apellido2;
    IEnumerable<PuestosTrabajo> puestosAplicados = ViewBag.PuestosTrabajo;
}
<partial name="_IndexEmpresasOferentesPartial" view-data="@ViewData" />
<div class="az-profile-overview">
    <div class="az-img-user">
        <img src="~/img/faces/facedefault.png" alt="pp">
    </div><!-- az-img-user -->
    <div class="d-flex justify-content-between mg-b-20">
        <div>
            <h5 class="az-profile-name">
                @FullName
            </h5>
            <p class="az-profile-name-text">Oferente</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-xl-4 mg-t-40 mg-md-t-0">
        <div class="az-content-label tx-13 mg-b-25">Información de Contacto</div>
        <div class="az-profile-contact-list">
            <div class="media">
                <div class="media-icon"><i class="icon ion-md-phone-portrait"></i></div>
                <div class="media-body">
                    <span>Telefono</span>
                    @{
                        string phoneNumber = "Sin especificar";
                        if (!string.IsNullOrEmpty(Model.Telefono))
                        {
                            phoneNumber = Model.Telefono;
                        }
                    }
                    <div>@phoneNumber</div>
                </div><!-- media-body -->
            </div><!-- media -->
            <div class="media">
                <div class="media-icon"><i class="icon ion-md-at"></i></div>
                <div class="media-body">
                    <span>Correo electrónico</span>
                    <div>@Model.UserName</div>
                </div><!-- media-body -->
            </div><!-- media -->
        </div><!-- az-profile-contact-list -->
    </div><!-- col -->
</div>
<br />
@if(puestosAplicados.Count() > 0)
{
    <partial name="_IndexOferentePuestosAplicados" view-data="ViewData" />
}
else
{
    <div class="row row-sm bg-gray-200 p-3 justify-content-center">
        <!-- Feat: Puestos de Trabajo Aplicados -->    
        <div class="az-error-wrapper">
            <div class="d-flex flex-row justify-content-center">
                <div><h3>Puestos de Trabajo Aplicados</h3></div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div><img height="250" src="~/img/no-apply.svg" /></div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div><h5>Por el momento no has aplicado a ningún puesto</h5></div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div><p>Cuando apliques a uno, este se mostrará justamente aqui</p></div>
            </div>
        </div>
    </div>
}
