JobsNet/Solution/.vs/Solution/DesignTimeBuild/.dtbcache.v2
JobsNet/Solution/.vs/Solution/config/applicationhost.config
JobsNet/Solution/.vs/Solution/v16/.suo
JobsNet/Solution/.vscode/launch.json
JobsNet/Solution/.vscode/tasks.json
JobsNet/Solution/Solution.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
JobsNet/Solution/Solution.API/bin/Debug/netcoreapp3.1/appsettings.json
JobsNet/Solution/Solution.API/bin/Debug/netcoreapp3.1/Solution.API.deps.json
JobsNet/Solution/Solution.API/bin/Debug/netcoreapp3.1/Solution.API.dll
JobsNet/Solution/Solution.API/bin/Debug/netcoreapp3.1/Solution.API.exe
JobsNet/Solution/Solution.API/bin/Debug/netcoreapp3.1/Solution.API.pdb
JobsNet/Solution/Solution.API/bin/Debug/netcoreapp3.1/Solution.API.runtimeconfig.dev.json
JobsNet/Solution/Solution.API/bin/Debug/netcoreapp3.1/Solution.API.runtimeconfig.json
JobsNet/Solution/Solution.API/obj/project.assets.json
JobsNet/Solution/Solution.API/obj/project.nuget.cache
JobsNet/Solution/Solution.API/obj/Solution.API.csproj.nuget.dgspec.json
JobsNet/Solution/Solution.API/obj/Solution.API.csproj.nuget.g.props
JobsNet/Solution/Solution.API/obj/Solution.API.csproj.nuget.g.targets
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/apphost.exe
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/project.razor.json
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.AssemblyInfo.cs
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.AssemblyInfoInputs.cache
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.assets.cache
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.csproj.CoreCompileInputs.cache
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.csproj.FileListAbsolute.txt
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.csprojAssemblyReference.cache
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.dll
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.genruntimeconfig.cache
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.MvcApplicationPartsAssemblyInfo.cache
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.pdb
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/Solution.API.RazorTargetAssemblyInfo.cache
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/staticwebassets/Solution.API.StaticWebAssets.Manifest.cache
JobsNet/Solution/Solution.API/obj/Debug/netcoreapp3.1/staticwebassets/Solution.API.StaticWebAssets.xml
JobsNet/Solution/Solution.API.W/bin/Debug/netcoreapp3.1/appsettings.Development.json
JobsNet/Solution/Solution.API.W/bin/Debug/netcoreapp3.1/appsettings.json
JobsNet/Solution/Solution.API.W/bin/Debug/netcoreapp3.1/Solution.API.W.deps.json
JobsNet/Solution/Solution.API.W/bin/Debug/netcoreapp3.1/Solution.API.W.dll
JobsNet/Solution/Solution.API.W/bin/Debug/netcoreapp3.1/Solution.API.W.exe
JobsNet/Solution/Solution.API.W/bin/Debug/netcoreapp3.1/Solution.API.W.pdb
JobsNet/Solution/Solution.API.W/bin/Debug/netcoreapp3.1/Solution.API.W.runtimeconfig.dev.json
JobsNet/Solution/Solution.API.W/bin/Debug/netcoreapp3.1/Solution.API.W.runtimeconfig.json
JobsNet/Solution/Solution.API.W/obj/project.assets.json
JobsNet/Solution/Solution.API.W/obj/project.nuget.cache
JobsNet/Solution/Solution.API.W/obj/Solution.API.W.csproj.nuget.dgspec.json
JobsNet/Solution/Solution.API.W/obj/Solution.API.W.csproj.nuget.g.props
JobsNet/Solution/Solution.API.W/obj/Solution.API.W.csproj.nuget.g.targets
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/apphost.exe
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/project.razor.json
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.AssemblyInfo.cs
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.AssemblyInfoInputs.cache
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.assets.cache
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.csproj.CoreCompileInputs.cache
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.csproj.FileListAbsolute.txt
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.csprojAssemblyReference.cache
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.dll
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.genruntimeconfig.cache
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.MvcApplicationPartsAssemblyInfo.cache
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.pdb
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/Solution.API.W.RazorTargetAssemblyInfo.cache
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/staticwebassets/Solution.API.W.StaticWebAssets.Manifest.cache
JobsNet/Solution/Solution.API.W/obj/Debug/netcoreapp3.1/staticwebassets/Solution.API.W.StaticWebAssets.xml
JobsNet/Solution/Solution.BS/obj/project.assets.json
JobsNet/Solution/Solution.BS/obj/project.nuget.cache
JobsNet/Solution/Solution.BS/obj/Solution.BS.csproj.nuget.dgspec.json
JobsNet/Solution/Solution.BS/obj/Solution.BS.csproj.nuget.g.props
JobsNet/Solution/Solution.BS/obj/Solution.BS.csproj.nuget.g.targets
JobsNet/Solution/Solution.BS/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
JobsNet/Solution/Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.AssemblyInfo.cs
JobsNet/Solution/Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.AssemblyInfoInputs.cache
JobsNet/Solution/Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.assets.cache
JobsNet/Solution/Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.csprojAssemblyReference.cache
JobsNet/Solution/Solution.DAL/obj/project.assets.json
JobsNet/Solution/Solution.DAL/obj/project.nuget.cache
JobsNet/Solution/Solution.DAL/obj/Solution.DAL.csproj.nuget.dgspec.json
JobsNet/Solution/Solution.DAL/obj/Solution.DAL.csproj.nuget.g.props
JobsNet/Solution/Solution.DAL/obj/Solution.DAL.csproj.nuget.g.targets
JobsNet/Solution/Solution.DAL/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
JobsNet/Solution/Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.AssemblyInfo.cs
JobsNet/Solution/Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.AssemblyInfoInputs.cache
JobsNet/Solution/Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.assets.cache
JobsNet/Solution/Solution.DAL.EF/obj/project.assets.json
JobsNet/Solution/Solution.DAL.EF/obj/project.nuget.cache
JobsNet/Solution/Solution.DAL.EF/obj/Solution.DAL.EF.csproj.nuget.dgspec.json
JobsNet/Solution/Solution.DAL.EF/obj/Solution.DAL.EF.csproj.nuget.g.props
JobsNet/Solution/Solution.DAL.EF/obj/Solution.DAL.EF.csproj.nuget.g.targets
JobsNet/Solution/Solution.DAL.EF/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
JobsNet/Solution/Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.AssemblyInfo.cs
JobsNet/Solution/Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.AssemblyInfoInputs.cache
JobsNet/Solution/Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.assets.cache
JobsNet/Solution/Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.csprojAssemblyReference.cache
JobsNet/Solution/Solution.DAL.Repository/obj/project.assets.json
JobsNet/Solution/Solution.DAL.Repository/obj/project.nuget.cache
JobsNet/Solution/Solution.DAL.Repository/obj/Solution.DAL.Repository.csproj.nuget.dgspec.json
JobsNet/Solution/Solution.DAL.Repository/obj/Solution.DAL.Repository.csproj.nuget.g.props
JobsNet/Solution/Solution.DAL.Repository/obj/Solution.DAL.Repository.csproj.nuget.g.targets
JobsNet/Solution/Solution.DAL.Repository/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
JobsNet/Solution/Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.AssemblyInfo.cs
JobsNet/Solution/Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.AssemblyInfoInputs.cache
JobsNet/Solution/Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.assets.cache
JobsNet/Solution/Solution.DO/obj/project.assets.json
JobsNet/Solution/Solution.DO/obj/project.nuget.cache
JobsNet/Solution/Solution.DO/obj/Solution.DO.csproj.nuget.dgspec.json
JobsNet/Solution/Solution.DO/obj/Solution.DO.csproj.nuget.g.props
JobsNet/Solution/Solution.DO/obj/Solution.DO.csproj.nuget.g.targets
JobsNet/Solution/Solution.DO/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
JobsNet/Solution/Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.AssemblyInfo.cs
JobsNet/Solution/Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.AssemblyInfoInputs.cache
JobsNet/Solution/Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.assets.cache
JobsNet/Solution/Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.csprojAssemblyReference.cache
