@model IEnumerable<Solution.FrontEnd.Models.PuestosTrabajo>

@{
    ViewData["Title"] = "Puestos de Trabajo Publicados";
    var statusMessage = ViewData["StatusMessage"];
}
@if (statusMessage != null)
{
    if (!statusMessage.ToString().Equals(""))
    {
    <div class="alert alert-dismissible bg-purple text-white" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        <i class="fa fa-info-circle"></i> Informacion: @ViewData["StatusMessage"]
    </div>
    }
}
@if (Model.Count() > 0)
{
    <partial name="_IndexPartial" for="@Model" />
}
else
{
    <div class="az-error-wrapper justify-content-end">
        <div class="d-flex flex-row justify-content-center ">
            <div>
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center ">
            <div>
                <img height="250" src="~/img/hiring-story.svg" />
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center ">
            <div><h5>Por el momento no tienes puestos de trabajo publicados</h5></div>
        </div>
        <div class="d-flex flex-row justify-content-center ">
            <div><p>Qué esperas...</p></div>
        </div>
        <div class="d-flex flex-row justify-content-center ">
            <a asp-action="Create"
               class="btn btn-default btn-az-primary text-uppercase" data-toggle="tooltip"
               data-placement="bottom" title="Crea un Puesto">
                <i class="fas fa-plus"></i>  Crear Puesto
            </a>
        </div>
    </div>
}
