@{
    var statusMessage = ViewData["StatusMessage"];
    string controllerName = (User.IsInRole(RoleNames.ROLE_OFERENTE)) ? "Oferentes" : "Empresas";
    if (statusMessage != null)
    {
        if (!statusMessage.ToString().Equals(""))
        {
        <div class="alert alert-dismissible bg-purple text-white" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span></button>
            <i class="fa fa-info-circle"></i> Informacion: @ViewData["StatusMessage"]
        </div>
        }
    }
}
<div class="row no-gutters justify-content-between">
    <div class="col-4">
        <h2 class="tx-indigo">@ViewBag.Title</h2>
    </div>
    <div class="col-6 justify-content-end">
        <div class="row no-gutters justify-content-end">
            <div class="col-auto ">
                <a asp-controller="@controllerName" asp-action="Edit"
                   class="btn btn-default btn-az-primary data-toggle="tooltip"
                   data-placement="bottom" title="Editar informacion">
                    <i class="fas fa-edit"></i> Editar
                </a>
            </div>
            <div class="col-auto align-content-end">
                <a asp-controller="Manage" asp-action="ChangePassword" 
                   class="btn btn-default btn-az-secondary" data-toggle="tooltip"
                   data-placement="bottom" title="Cambiar contraseña">
                    <i class="fas fa-user-shield"></i> Cambiar contraseña
                </a>
            </div>
        </div>
    </div>
</div>
