<ul class="nav">
    <li class="nav-item active">
        <a href="#" class="nav-link">
            <i class="typcn typcn-briefcase"></i> Principal
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="typcn typcn-user"></i> Perfil
        </a>
    </li>
</ul>