.dropleft .dropdown-toggle::before 
{
  display: none;
}
.isDisabled 
{
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
.dropdown-item i 
{
  margin-right: 10px;
}
.az-img-user::after
{
  content: none;
}
.trunq-280 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trunq-200 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumb-style1 {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}
.hover:hover{
  background-color: var(--light);
}
.hover:hover a {
  text-decoration: underline;
  color: var(--blue)!important;
  transition: color .3s;
}
.no-outline-color{
  outline-color: transparent!important;
}

/*
 * FilePond Custom Styles
 */

.filepond--drop-label {
  color: #4c4e53;
}

.filepond--label-action {
    text-decoration-color: #babdc0;
}

.filepond--panel-root {
    background-color: #edf0f4;
}

/**
 * Page Styles
 */
.filepond--root {
  width: 120px;
  margin: 0 auto;
}
